# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.GROUPE7_PROGJVAVANCEE_4A.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Utilisateurs\Tom\Documents\COURS\GitHub\GROUPE7_PROGJVAVANCEE_4A\.idea\.idea.GROUPE7_PROGJVAVANCEE_4A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
